frontend/public/images/cabs/d5g00000i1iubean-dev-ed.develop.my.salesforce.com_services_wsdl_class_CPQ_ProcessOrderResponse_sfdcIFrameOrigin=https2F%2Fd5g00000i1iubean-dev-ed.develop.lightning.force.com.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : CPQ_ProcessOrderResponse
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/CPQ_ProcessOrderResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/CPQ_ProcessOrderResponse">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/CPQ_ProcessOrderResponse">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LineItem">
    <xsd:sequence>
     <xsd:element name="ConfirmedTransportedDate" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CPQConfiguredProductID" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DispatchDate" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="LineNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="QuotationLineNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="RequestedDelyDate" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Status" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProcessOrderResponseResponse">
    <xsd:sequence>
     <xsd:element name="errorMessage" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="status" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ProcessOrderResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="RevisedQuotationNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="QuotationNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="OpportunityId" type="xsd:string" nillable="true"/>
      <xsd:element name="RevisionId" type="xsd:string" nillable="true"/>
      <xsd:element name="SalesOrderNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="Status" type="xsd:string" nillable="true"/>
      <xsd:element name="CustomerPurchaseOrderNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="CPQSolutionID" type="xsd:string" nillable="true"/>
      <xsd:element name="lineItems" minOccurs="0" maxOccurs="unbounded" type="tns:LineItem" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ProcessOrderResponseResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ProcessOrderResponseResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="ProcessOrderResponseRequest">
  <part element="tns:ProcessOrderResponse" name="parameters"/>
 </message>
 <message name="ProcessOrderResponseResponse">
  <part element="tns:ProcessOrderResponseResponse" name="parameters"/>
 </message>
 <portType name="CPQ_ProcessOrderResponsePortType">
  <operation name="ProcessOrderResponse">
   <input message="tns:ProcessOrderResponseRequest"/>
   <output message="tns:ProcessOrderResponseResponse"/>
  </operation>
 </portType>
 <binding name="CPQ_ProcessOrderResponseBinding" type="tns:CPQ_ProcessOrderResponsePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ProcessOrderResponse">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="CPQ_ProcessOrderResponseService">
  <documentation></documentation>
  <port binding="tns:CPQ_ProcessOrderResponseBinding" name="CPQ_ProcessOrderResponse">
   <soap:address location="https://ap24.salesforce.com/services/Soap/class/CPQ_ProcessOrderResponse"/>
  </port>
 </service>
</definitions>